@import '../../consts/color.scss';

.layout {
  background-color: $Background-Black;
  // height: 100%;
  width: 100%;
  // max-height: max-content;

  .content {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    grid-template-areas: 'sideBar outlet outlet outlet outlet outlet';

    .sideBar {
      grid-area: sideBar;
    }

    .outlet {
      grid-area: outlet;
    }
  }

  &.light {
    background-color: $Contextual-Write;

    h4,
    h3,
    td,
    h5 {
      color: $Background-Dark;
    }

    input:not(input[type='button']):not(input[type='submit']) {
      background-color: $Contextual-Write;
      border: 2px solid $Contextual-Light;
    }

    form>div,
    section {
      background-color: $Contextual-Write;
    }

    section {
      border: 2px solid $Contextual-Light;
    }
  }
}