@import '../../consts/color.scss';

.btn {
  background-color: $Background-Graphite;
  display: flex;
  border-radius: 10px;

  button {
    width: 100%;

  &.fav{
    background-color: $System-Primary;
    border-radius: 10px 0 0 10px;
  }
  }

  button:not(:last-child) {
    border-right: 1px solid $Background-Black;
  }
}