@import '../../consts/color.scss';

.btn {
  background-color: $Background-Graphite;
  display: flex;
  border-radius: 10px;

  button {
    width: 100%;

    svg:hover {
      & * {
        stroke: $Contextual-Write;
      }
    }
  }

  button:not(:last-child) {
    border-right: 1px solid $Background-Black;
  }
}