@import '../../consts/color.scss';
.btn{
  background-color:$Background-Graphite;
  display: flex;
  border-radius: 10px;
  button{
    width: 100%;
    border: 1px solid $Background-Black;
    svg:hover{
      & *{
        stroke:$Contextual-Write;
      }
    }
  }
}