@import '../../consts/color.scss';

.navLink {
  color: #80858B;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  &:active {
    p {
      color: $System-Primary;
    }

    svg {
      path {
        fill: $System-Primary;
      }
    }

    color: $System-Primary;
  }

  &:hover {
    p {
      color: $System-Primary2;
    }

    svg {
      path {
        fill: $System-Primary2;
      }
    }

    color: $System-Primary2;
  }
}