@import '../../consts/color.scss';



  .poster {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .img {
      width: 266px;
      height: 357px;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }
  .wrappText {
    font-size: 16px;

    h6,th {
      color: $Contextual-Light;
    }

    h3 {
      font-size: 40px;
    }

    .rating {
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      margin-top: 24px;

      &>span {
        padding: 4px 8px;
        display: flex;
        border-radius: 6px;
        background-color: $Background-Graphite;
        align-items: center;
        width: max-content;
        gap: 10px;
      }

      .ratingKp {
        &.green {
          background-color: $Tertiary-Green;
        }

        &.orage {
          background-color: $Tertiary-Orange;
        }

        &.yellow {
          background-color: $Tertiary-Yellow;
        }
      }
    }

    .description {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      width: 70%;
      margin: 40px 0;
    }
  }
