@import '../../consts/color.scss';

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 40px;
  font-size: 18px;

  nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}